/*___FONTS___*/

@font-face {
  font-family: 'AvenirNextLTW01RegularRegular';
  src: url('/fonts/AvenirNextLTW01RegularRegular.eot?#iefix') format('embedded-opentype'),  
  	   url('AvenirNextLTW01RegularRegular.woff') format('woff'), 
  	   url('AvenirNextLTW01RegularRegular.ttf')  format('truetype'), 
  	   url('AvenirNextLTW01RegularRegular.svg#AvenirNextLTW01RegularRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTW01ItalicRegular'; 
  src: url('/fonts/AvenirNextLTW01ItalicRegular.eot?#iefix') format('embedded-opentype'),  
  url('AvenirNextLTW01ItalicRegular.woff') format('woff'), url('AvenirNextLTW01ItalicRegular.ttf')  format('truetype'), 
  url('AvenirNextLTW01ItalicRegular.svg#AvenirNextLTW01ItalicRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'AvenirNextLTW01BoldRegular';
  src: url('/fonts/AvenirNextLTW01BoldRegular.eot?#iefix') format('embedded-opentype'),  
  url('AvenirNextLTW01BoldRegular.woff') format('woff'), url('AvenirNextLTW01BoldRegular.ttf')  format('truetype'), 
  url('AvenirNextLTW01BoldRegular.svg#AvenirNextLTW01BoldRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*___<body>___*/

body {
	background-image: url(background.jpg);
	background-size: 1640px, 1200px;
	margin: 0;
	padding: 0;
}

/*___logo___*/

.logo {
	display: block;
	width: 20%;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	margin: auto;
}

/*___nav bar___*/

ul {
	font-family: 'AvenirNextLTW01RegularRegular';
	font-size: 20px; 
	text-align: center;
	padding: 0;
	display: block;
	padding-bottom: 20px;
	margin-top: -5px;
}

ul a {
	color: white;
	padding: 15px;
	text-decoration: none;
	display: inline-block;
}

li {
	display: inline-block;
	text-align: center;
	text-align: center;
}

li a:hover {
    color: #C02026;
}

/*___main___*/

main {
	background-color: #C02026;
	width: 65%;
	overflow: hidden;
	margin: auto;
}

/*___headers___*/

h1 {
	font-family: 'AvenirNextLTW01BoldRegular';
	font-size: 1.5em;
	text-align: center;
	color: black;
	margin: auto;
	padding-top: 10px;
}

h2 {
	font-family: 'AvenirNextLTW01RegularRegular';
	font-size: 32px;
	padding-top: 20px;
	padding-bottom: 20px;
	color: white;
}

h3 {
	font-family: 'AvenirNextLTW01ItalicRegular';
	font-size: 1em;
	text-align: center;
	color: white;
	padding: 1em;
}

h4 {
	font-family: 'AvenirNextLTW01ItalicRegular';
	font-size: 1.2em;
	text-align: center;
	color: white;
	padding-bottom: 30px;
}

h5 {
	font-family: 'AvenirNextLTW01ItalicRegular';
	font-size: 20px;
	text-align: center;
	color: white;
	padding-bottom: 10px;
}

/*___services___*/

.services {
	text-align: center;
	padding-bottom: 40px;
}

.servlist {
	font-family: 'AvenirNextLTW01ItalicRegular';
	font-size: 14pt;
	text-align: center;
	padding-right:40px;
	padding-left: 40px;
	color: white;
}

.servlist li {
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
}

.thumb {
	padding-top: 10px;
}

.thumb img {
	padding-right: 20px;
	padding-left: 20px;
}

/*___about___*/

.about {
	text-align: center;
}

.about p {
	font-family: 'AvenirNextLTW01RegularRegular';
	font-size: 12pt;
	color: white;
	text-align: center;
	padding-left: 2em;
	padding-bottom: 30px;
	width: 48%;
	line-height: 25px;
}

.about img {
	padding-bottom: 20px;
	padding-top: 20px;
	max-width: 45%;
}

/*___contact___*/

.contact {

}

.contact h2 {
	text-align: center;
}

.contact ul {
	text-align: center;
	color: white;
	font-family: "AvenirNextLTW01RegularRegular";
	font-size: 12pt;
}

.contact img {
	display: block;
}

.contact ul {
	padding-top: 20px;
	text-align: left;
}

.contact ul li {
	text-align: center;
	display: block;
}

.contact p {
	font-family: 'AvenirNextLTW01RegularRegular';
	font-size: 12pt;
	color: white;
	width: 50%;
	text-align: center;
	padding-bottom: 20px;
}

.social {
	text-align: center;
	padding-bottom: 50px;
}

.social img {
	padding-left: 10px;
	padding-right: 10px;
}

/*___portfolio___*/

.portfolio {
	text-align: center;
	display: block;
}

.portfolio h2 {
	padding-bottom: 30px;
}

.portfolio img {
	padding-bottom: 20px;
}

.portfolio p {
	font-family: 'AvenirNextLTW01RegularRegular';
	font-size: 16px;
	text-align: center;
	color: white;
	padding-bottom: 40px;
	width: 55%;
	line-height: 25px;
}

/*___home/slider___*/

*{
	margin:auto;
	list-style: none;
	text-decoration: none;
}

.slider {
	display: block;
	overflow: hidden;
	width: 100%;
	margin: auto;
	height: 637px;
}

.quote {
	width: 54%;
	padding-bottom: 35px;
}

.slider figure div {
	width: 10%;
	float: left;
}

.slider figure img {
	width: 100%;
	float: left;
}

.slider figure {
	position: relative;
	width: 1000%;
	margin: 0;
	left: 0;
	animation: 45s sliding infinite;
}

@keyframes sliding {
	0% {
		left: 0%;
	}
	5% {
		left: 0%;
	}
	6% {
		left: -100%;
	}
	11% {
		left: -100%;
	}
	12% {
		left: -200%;
	}
	17% {
		left: -200%;
	}
	18% {
		left: -300%;
	}
	23% {
		left: -300%;
	}
	24% {
		left: -400%;
	}
	29% {
		left: -400%;
	}
	30% {
		left: -500%;
	}
	35% {
		left: -500%;
	}
	36% {
		left: -600%;
	}
	41% {
		left: -600%;
	}
	42% {
		left: -700%;
	}
	47% {
		left: -700%;
	}
	48% {
		left: -800%;
	}
	53% {
		left: -800%;
	}
	54% {
		left: -700%;
	}
	59% {
		left: -700%;
	}
	60% {
		left: -600%;
	}
	65% {
		left: -600%;
	}
	66% {
		left: -500%;
	}
	71% {
		left: -500%;
	}
	72% {
		left: -400%;
	}
	77% {
		left: -400%;
	}
	78% {
		left: -300%;
	}
	83% {
		left: -300%;
	}
	84% {
		left: -200%;
	}
	89% {
		left: -200%;
	}
	90% {
		left: -100%;
	}
	95% {
		left: -100%;
	}
	96% {
		left: 0%;
	}
	100% {
		left: 0%;
	}
	